.tr-red, .tr-red td{
	color: red !important;
}

/**for top link*/
.header-icons .nav-link:hover{
	color: red !important;
}

.service a:hover{
	color: red !important;
}

.main-content-title{
	font-weight: bold;
	color: var(--primary-bg-color);
	text-transform: uppercase;
}

.page-header {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    min-height: 40px;
}

.app-sidebar {
    background: linear-gradient(45deg, var(--primary-bg-color), transparent) !important;
    color:black !important;
    /*font-weight: bold !important;*/
}

.side-menu__label {
    font-weight: bold;
}

.slide-item.active {
    /*color: var(--primary-bg-color);*/
    color: var(--secondary);
    font-weight: bold;
}

.modal-content {
    border: 0px solid var(--primary06) !important;
    /*box-shadow: 0 0 0 1px rgba(--primary07, .12), 0 8px 16px 0 rgba(--primary07, .24) !important;*/

}
.modal-header {
    background-color: var(--primary06) !important;
    color:white !important;
    border-start-start-radius: 0 !important;
    border-start-end-radius: 0 !important;
    padding: 15px 20px;
}

.modal-header .text-primary{
	color:white !important;
}

.table-danger th, .table-danger td, .table-danger thead th, .table-danger tbody+tbody {
    border-color: var(--info);
}

.table-danger>th, .table-danger>td {
    background-color: var(--info);
}

.page-link {
	border: 0px solid #ddd !important;
}
.page-item.active .page-link {
	font-weight: bold;
	color: var(--info);
    background: none !important;
}
.kv-table-header {
    background: linear-gradient(to bottom, #fff 0%, #ddd 100%);
}

.slide-item, .sub-side-menu__item, .sub-slide-item2 {
    padding-inline-start: 1rem;
}

.datepicker-days table{
	width: 100%;
}
/** add red * after required field **/
form div.required label.control-label:after {

  content:" * ";

  color:red;

}
/*span*/
.data{
	color: #17b794 !important;
	cursor: pointer !important;
}
.hl-color{
	color: #f6866a !important;
}
.data:hover{
	color: #f6866a !important;
}

/** div scroll */
.div-scroll{
	overflow-x: hidden;
	overflow-y:scroll;
}
.dh-500{
	height:500px;
}
.dh-600{
	height:600px;
}
.dh-700{
	height:700px;
}



.main-logo img{
	max-width: 150px;
	max-height: 50px;
}

/**qr code**/
.text-qr{
	border:0px !important;
}

.text-qr:focus {
	border:0px !important;
	color: white !important;
}
/**qr code*/

/*form*/
.formInput .card-title{
	text-transform: uppercase;
}
/*custom*/
body .modal-dialog .select2-container {
  z-index: 9999 !important;
}
#ajaxCrudDatatable table .select2-container {
    z-index: 0 !important;
}
.kv-table-header a{
    text-decoration: none;
}
.alink{
    text-decoration: none;
}
.blink{
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.form-group .help-block{
    color: red;
    font-style: italic;
    font-size: 13px;
}
.has-error input{
    border: 1px solid red;
}
.has-error label{
    color: red;
}
#liveToast .toast-body{
    color: #0D6EFD;
}
/*end custom*/

/*custom css for gridview*/
#crud-datatable-filters{
	display: none;
}

/*end custom css for gridview*/


/*custom select2*/
.select2-container--krajee-bs5 .select2-selection--single {
    /*padding: 0.5rem 2rem 0.375rem 0.5rem !important;*/
    height: calc(2rem + 2px)!important;;
    padding: 5px 2rem 5px 5px !important;
}
.select2-container--krajee-bs5 .select2-selection--single .select2-selection__clear, .select2-container--krajee-bs5 .select2-selection--multiple .select2-selection__clear {
    padding-left: 20px !important;
}
.select2-container--krajee-bs5 .select2-results__option--highlighted[aria-selected] {
    background-color: #17b794 !important;
    color: #fff;
}
.select2-container--krajee-bs5 .select2-results__option.select2-results__option--selected,
.select2-container--krajee-bs5 .select2-results__option[aria-selected=true] {
    color: #fff !important;
    background-color: #17b794 !important;
}
.select2-container--krajee-bs5 .select2-results__group {
    color: #17b794 !important;
}
.select2-container--krajee-bs5 li.select2-results__option {
    background: none !important;
}
/*end custom select2*/

/*form control*/
.form-control {
    height: calc(1.5em + 0.75rem) !important;
    /*padding: 10px !important;*/
}
textarea.form-control {
	height: auto !important;
}

.datepicker-dropdown{
	min-width: 20rem !important;
}

.custom-inline-radio{
	display: inline-block;
	margin-right:10px;
}

/*end form control*/

/*gridview*/
.btn-open-link{
	color: #17b794;
}
.btn-open-link:hover{
	text-decoration: underline;
	color: #17b794;
}

/*gridview*/
main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

/*an add*/
@media (max-width: 991px){
	/*.main-header-left.horizontal .main-logo .desktop-logo {
	    max-width: 150px;
	}*/
	 /*thay doi bg menu left*/
	.app-sidebar {
	    background: white !important;
	    color: black !important;
	    /* font-weight: bold !important; */
	}
}


.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.form-group {
    margin-bottom: 1rem;
}

/* body{
	font-size:80%!important;
} */

.div-500{
	height:500px;
	overflow-y: auto;
}
.div-600{
	height:600px;
	overflow-y: auto;
}

.card-end{
	margin-bottom: 0;
}

/** custom modal */
#ajaxCrudModal .modal-body {
    padding: 20px 20px;
}
#ajaxCrudModal .custom-card .card-body {
    padding: 1rem 1rem;
}
#ajaxCrudModal .custom-card .card-header {
	min-height: 3rem;
    padding: .5rem 1rem;
}
