.icon-white {
    color: white;
}
.pagination {
    display:flex;
    justify-content: center;
    padding:10px;
}

.pagination li a {
    color: #007bff; 
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination li a:hover {
    background-color: #007bff; 
    color: #fff; 
}

.pagination .active a {
    background-color: #007bff; 
    color: white;
    border-color: #007bff;
}

.pagination .disabled a {
    color: #aaa;
}